<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Start</title>
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script th:src="@{/js/requestHandler.js}"></script>
    </head>
    <body>
        <textarea>
            This is where the texties come, ya!
        </textarea>
        <div class="button-bar">
            <button>1</button>
            <button>2</button>
            <button>3</button>
        </div>

    </body>
</html>